:root {
  --bg-img: none;
  --bg-repeat: none;
  --bar-bg: #fff;
  --text-color: black;
}

.bx {
  vertical-align: middle;
}

#bar {
  width: 100%;
  height: 25px;
  padding: 8px;
  top: 0;
  position: fixed;
  left: 0;
  z-index: 3;
  background-color: var(--bar-bg);
  color: var(--text-color);
}

#overlay {
  width: 100%;
  height: 100%;
  top: calc(25px + 8px + 5px);
  padding: 16px;
  left: 0;
  z-index: 4;
  opacity: 0;
  position: fixed;
  background-color: #191919;
  transition: .4s;
  color: white;
  user-select: none;
  display: none;
}

#overlayTitle {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: max-content;
  font-size: 30px;
}

.window {
  min-width: 85px;
  min-height: 75px;
  border-radius: 8px;
  overflow: scroll;
  border: 1px solid black;
  width: max-content;
  background-color: white;
  position: relative;
}

.window iframe {
  border: none;
}

.window .top {
  width: 100%;
  background-color: #dbdbdb;
  padding-left: 6px;
  padding-right: 6px;
  touch-action: none;
  user-select: none;
}

#barTime {
  float: right;
}

#home {
  transition: .4s;
}

.apps .app {
  text-align: center;
  max-width: 95px;
  padding: 6px 10px;
}

.apps .app .icon {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

.apps {
  padding: 10px;
}

body {
  overflow: hidden;
  background-image: var(--bg-img);
  background-repeat: var(--bg-repeat);
  background-size: cover;
  font-family: 'Inter', sans-serif;
}
