:root {
  --bg-img: none;
  --bg-repeat: none;
  --bar-bg: #fff;
  --text-color: black;
  --window-top: #dbdbdb;
  --cursor-pointer: url('images/cursor/pointer.png'), pointer;
  --cursor-cursor: url('images/cursor/cursor.png'), auto;
}

@keyframes openWindow {
  25% {
    transform: scale(.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes closeWindow {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(.5);
    opacity: 0;
  }
}

@keyframes sendNotif {
  from {
    top: -3em;
  }
  to {
    top: 2em;
  }
}

@keyframes hideNotif {
  from {
    top: 2em;
  }
  to {
    top: -6em;
  }
}

@keyframes wrongpass {
  25% {
    transform: translateX(30px);
  }
  50% {
    transform: translateX(-30px);
  }
  75% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}

body {
  overflow: hidden;
  background-size: cover;
  font-family: 'Inter', system-ui, sans-serif;
  background-image: var(--bg-img);
  background-repeat: var(--bg-repeat);
  background-attachment: fixed;
  background-position: center;
  transition: background-image .4s;
  cursor: var(--cursor-cursor);
  background-color: var(--bar-bg);
}

.bx {
  vertical-align: middle;
}

#bar {
  width: 85%;
  height: 25px;
  padding: 8px;
  top: .3em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 9px;
  z-index: 999;
  background-color: var(--bar-bg);
  color: var(--text-color);
  transition: background-color .5s;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  cursor: var(--cursor-cursor);
  scrollbar-width: none;
  opacity: .75;
}

#bar::-webkit-scrollbar {
  display: none;
}

#bar #fps {
  margin-right: 10px;
  cursor: inherit;
}

#bar #network {
  margin-right: 10px;
  cursor: inherit;
}

#bar #openri {
  margin-right: 10px;
  cursor: inherit;
}

#overlay {
  width: 100%;
  height: 100%;
  top: calc(25px + 8px + 5px);
  padding: 16px;
  left: 0;
  z-index: 0;
  opacity: 0;
  position: fixed;
  background-color: #191919;
  transition: .4s;
  color: white;
  user-select: none;
  overflow-y: scroll;
  cursor: var(--cursor-cursor);
}

#rightinfo {
  position: fixed;
  width: 30%;
  right: -999px;
  overflow-y: scroll;
  height: 100%;
  z-index: 1000;
  top: 0;
  transition: 1.5s cubic-bezier(.76, .35, .27, .99);
  background-color: #545454;
  color: white;
  opacity: .85;
}

#rightinfo #rclck {
  font-size: 3em;
  margin-left: .5em;
  margin-top: .6em;
}

#desktop {
  width: 100%;
  height: 100%;
  margin-top: calc(25px + 8px + 6px);
  position: fixed;
  z-index: 2;
  cursor: var(--cursor-cursor);
}

.window {
  min-width: 135px;
  min-height: 120px;
  border-radius: 8px;
  padding-bottom: 12px;
  position: fixed;
  border: 1px solid #969696;
  background-color: var(--bar-bg);
  z-index: 3;
  cursor: var(--cursor-cursor);
  box-sizing: border-box;
  animation: openWindow .4s ease-in-out;
  width: 450px;
  height: 310px;
  box-shadow: 2px 10px 8px #383838;
}

.window iframe {
  border: none;
  width: 100%;
  overflow: scroll;
  height: 100%;
}

.window .top {
  width: 100%;
  background-color: var(--window-top);
  color: var(--text-color);
  padding: 8px;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
  transition: background-color .5s;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-width: -webkit-fill-available;
  max-width: -moz-available; 
  max-width: available;
}

.contextmenu > div:hover {
  background-color: #7c7c7c;
  cursor: var(--cursor-pointer);
}

.contextmenu {
  border: solid 1px black;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#favapps {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  border-radius: 10px;
  width: max-content;
  min-width: 35%;
  background-color: var(--bar-bg);
  padding: 10px;
  max-width: 60%;
  height: 45px;
  z-index: 5000;
  transition: .4s ease-in-out;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
}

#favapps > * + * {
  margin-left: 10px;
}

#bar > span:nth-child(1) {
  transition: .4s;
}

#apps .app {
  max-width: 95em;
  padding: 10px;
  width: max-content;
  display: inline-flex;
  cursor: var(--cursor-pointer);
  border-radius: 8px;
}

#apps .app:hover {
  background-color: #666666;
}

#apps .app .appname {
  padding-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

#apps .app .icon {
  width: max-content;
}

#apps {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5em;
}

#bar #clock {
  margin-right: 10px;
  cursor: inherit;
}

#rightinfo #device {
  margin-right: .6em;
  cursor: var(--cursor-cursor);
  float: right;
  font-size: 1.8em;
}

#overlay #overlayClock #realOverlayClock {
  font-weight: 200;
  font-size: 17px;
}

#overlay #overlayClock #overlayGreeting {
  font-size: 37px;
  font-weight: 700;
}

#overlay #overlayClock {
  margin-left: 20px;
  margin-top: 10px;
}

#bar #power-off-button {
  margin-right: 10px;
  cursor: inherit;
}

#wrongwrong {
  background-color: red;
  position: fixed;
  width: 100%;
  z-index: 80000;
  height: 100%;
  color: #fff;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#wrongwrong > div > i {
  font-size: 140px;
}

#wrongwrong > div {
  font-size: 29px;
}

#bar > span:nth-child(3) {
  margin-left: 30px;
}

#bar > span:last-child:not(#right) {
  margin-right: 12em;
}

#bar #right {
  transition: opacity .4s;
  right: 10%;
  position: fixed;
  background-color: var(--bar-bg);
  z-index: 2;
  height: 25px;
}

#power-off {
  z-index: -2;
  opacity: 0;
  transition: .5s;
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

#power-off div {
  position: fixed;
  color: white;
  width: max-content;
  font-size: 35px;
}

.notif {
  top: 2em;
  position: fixed;
  z-index: 2000;
  background-color: var(--bar-bg);
  color: var(--text-color);
  transition: 1s;
  width: 45%;
  max-height: 125px;
  padding: .7em;
  border-radius: 8px;
  animation: sendNotif .5s;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #969696;
}

.notif .notifTitle {
  font-weight: bold;
}

#restartcontainer,
#requestcontainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9998;
  background-color: #666666;
  opacity: .9;
}

#restart,
#req {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--bar-bg);
  transform: translate(-50%, -50%);
  border: 2px solid grey;
  padding: 1em;
  border-radius: 8px;
  color: var(--text-color);
  z-index: 9999;
}

#restart > div + div,
#req > div + div {
  margin-top: .7em;
}

#restart button,
#req button {
  padding: .8em;
  border-radius: 8px;
  border: none;
  background-color: #6e75b2;
  color: white;
}

#startup {
  display: grid;
  width: 100%;
  position: fixed;
  left: 0;
  height: 100%;
  background-color: var(--bar-bg);
  top: 0;
  z-index: 10000;
  transition: .4s;
}

.nothinglogo {
  width: 70px;
  height: 70px;
  background-image: url('images/nothing.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

#password {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #578593;
  opacity: .95;
  z-index: 10001;
}

#password > div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#inppass {
  padding: .6em;
  border: none;
  border-radius: 8px;
  margin-top: .8em;
  outline: none;
  width: 200px;
}

#password i {
  font-size: 2em;
  display: inline-block;
  margin-left: .4em;
  background-color: white;
  color: #8a6af2;
  border-radius: 50%;
}

#sapp {
  width: 90%;
  font-size: 1em;
  padding: .5em;
  background: none;
  outline: none;
  color: white;
  font-family: 'Inter', system-ui, sans-serif;
  border: none;
}